ol,
ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}
.square:disabled {
    color: black;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: black solid 2px;
    padding: 20px;
}

.game-info {
    margin-left: 20px;
}

.game-info span {
    margin-left: 5px;
}
.game-info button {
    margin: 5px;
    padding: 4px;
}

.bold {
    font-weight: bold;
}
.bold button {
    font-weight: bold;
}

.winner {
    background-color: gold;
}

.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history-list {
    height: 370px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 215px;
}
